<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:insert="~{common :: headlink}"/>
</head>
<body>
<div th:insert="~{common :: header}"/>
<div th:insert="~{common :: admin_nav}"/>


<select name="sid" class="custom-select" onchange="top.location=this.value" th:field="*{serviceList}">
    <option value="none" hidden="" th:text="#{list.products.rates.filter.service}">Filter by service</option>
    <option selected th:value="@{/products/rates}" th:text="#{list.products.rates.filter.service.all}">All</option>
    <option th:each="item : ${serviceList}" th:text="${item.getName()}" th:value="@{|/products/rates/sid/${item.getId()}|}" />
</select>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{list.products.rates.service}">Service</th>
        <th scope="col" th:text="#{list.products.rates.name}">Rate</th>
        <th scope="col" th:text="#{list.products.rates.price}">Price</th>
        <th scope="col"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rate, custStat: ${rates}">
        <th scope="row" th:text="${custStat.count}">1</th>
        <td><p th:text="${rate.getService()}" /></td>
        <td><p th:text="${rate.getName()}" /></td>
        <td><p th:text="${rate.getPrice()}" /></td>
        <td align="right">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" th:text="#{list.products.rates.actions}" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/products/rates/{id}/edit(id=${rate.getId()})}" th:text="#{list.products.rates.actions.edit}">Edit</a>
                    <form th:method="DELETE" th:action="@{/products/rates/{id}(id=${rate.getId()})}">
                        <input class="dropdown-item" type="submit" th:value="#{list.products.rates.actions.delete}"/>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>