<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:insert="~{common :: headlink}"/>
</head>
<body>
<div th:insert="~{common :: header}"/>
<div th:insert="~{common :: admin_nav}"/>

<div class="container" style="width: 50%">
    <form th:method="POST" th:action="@{/users}" th:object="${user}">
        <div class="form-group">
            <label for="login" th:text="#{new.user.login}">Enter login: </label>
            <input type="text" class="form-control" th:field="*{login}" id="login" />
            <th:block th:if="${#fields.hasErrors('login')}" th:each="err: ${#fields.errors('login')}">
                <div style="color: red" th:utext="#{${err}}">Login error</div>
            </th:block>
        </div>
        <div class="form-group">
            <label for="name" th:text="#{new.user.name}">Enter name: </label>
            <input type="text" class="form-control" th:field="*{name}" id="name" />
            <th:block th:if="${#fields.hasErrors('name')}" th:each="err: ${#fields.errors('name')}">
                <div style="color: red" th:utext="#{${err}}">Name error</div>
            </th:block>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{new.user.email}">Enter email: </label>
            <input type="text" class="form-control" th:field="*{email}" id="email" />
            <th:block th:if="${#fields.hasErrors('email')}" th:each="err: ${#fields.errors('email')}">
                <div style="color: red" th:utext="#{${err}}">Email error</div>
            </th:block>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{new.user.password}">Enter password: </label>
            <input type="text" class="form-control" th:field="*{password}" id="password" />
            <th:block th:if="${#fields.hasErrors('password')}" th:each="err: ${#fields.errors('password')}">
                <div style="color: red" th:utext="#{${err}}">Password error</div>
            </th:block>
        </div>
        <button type="submit" class="btn btn-primary" value="signIn" th:text="#{new.user.create}">Create</button>
    </form>
</div>
</body>
</html>