<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:insert="~{common :: headlink}"/>
</head>
<body>
<div th:insert="~{common :: header}"/>

<div th:switch="${user_role}">
    <div th:case="'ADMIN'" th:insert="~{common :: admin_nav}"/>
    <div th:case="'USER'" th:insert="~{common :: cabinet_nav}"/>
    <div th:case="*" th:insert="~{common :: main_nav}"/>
</div>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
            <a class="nav-link" id="v-pills-rates-tab" data-toggle="pill" href="#v-pills-rates" role="tab" aria-controls="v-pills-rates" aria-selected="false">Rates</a>
            <a class="nav-link" id="v-pills-payments-tab" data-toggle="pill" href="#v-pills-payments" role="tab" aria-controls="v-pills-payments" aria-selected="false">Payments</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
                    <div class="form-group">
                        <label for="login" th:text="#{edit.user.login}">Login: </label>
                        <input type="text"  readonly class="form-control" th:field="*{login}" id="login" />
                        <th:block th:if="${#fields.hasErrors('login')}" th:each="err: ${#fields.errors('login')}">
                            <div style="color: red" th:utext="#{${err}}">Login error</div>
                        </th:block>
                    </div>
                    <div class="form-group">
                        <label for="name" th:text="#{edit.user.name}">Enter name: </label>
                        <input type="text" class="form-control" th:field="*{name}" id="name" />
                        <th:block th:if="${#fields.hasErrors('name')}" th:each="err: ${#fields.errors('name')}">
                            <div style="color: red" th:utext="#{${err}}">Name error</div>
                        </th:block>
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{edit.user.email}">Enter email: </label>
                        <input type="text" class="form-control" th:field="*{email}" id="email" />
                        <th:block th:if="${#fields.hasErrors('email')}" th:each="err: ${#fields.errors('email')}">
                            <div style="color: red" th:utext="#{${err}}">Email error</div>
                        </th:block>
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{edit.user.password}">Enter password: </label>
                        <input type="text" class="form-control" th:field="*{password}" id="password" />
                        <th:block th:if="${#fields.hasErrors('password')}" th:each="err: ${#fields.errors('password')}">
                            <div style="color: red" th:utext="#{${err}}">Password error</div>
                        </th:block>
                    </div>
                    <button type="submit" class="btn btn-primary" value="signIn" th:text="#{edit.user.edit}">Edit</button>
                </form>
            </div>
            <div class="tab-pane fade" id="v-pills-rates" role="tabpanel" aria-labelledby="v-pills-rates-tab">
                <ul class="list-group" th:each="service: ${services}">
                    <li  class="list-group-item d-flex justify-content-between align-items-center">
                        <span th:text="${service.getName()}" /><a th:href="@{/products/rates/{id}/rate(id=${service.getId()})}"><span th:text="${service.getId()}" class="badge badge-primary badge-pill">14</span></a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane fade" id="v-pills-payments" role="tabpanel" aria-labelledby="v-pills-payments-tab">
                <table width="100%">
                    <tr><td>
                        <form class="form-inline">
                            <div class="form-group mb-2">
                                Amount to pay
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <input type="number" class="form-control" min="0" step="0.01">
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Pay</button>
                        </form>
                    </td></tr>
                    <tr><td>Balance 100</td></tr>
                </table>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" >Name</th>
                        <th scope="col" >Amount</th>
                        <th scope="col" >Date</th>
<!--                        <th scope="col" th:text="#{list.users.login}">Login</th>-->
<!--                        <th scope="col" th:text="#{list.users.name}">Name</th>-->
<!--                        <th scope="col" th:text="#{list.users.email}">Email</th>-->
                    </tr>
                    </thead>
                    <tbody>
<!--                    <tr th:each="user, custStat: ${users}">-->
<!--                        <th scope="row" th:text="${custStat.count}">1</th>-->
<!--                        <td><p th:text="${user.getLogin()}" /></td>-->
<!--                        <td><p th:text="${user.getName()}" /></td>-->
<!--                        <td><p th:text="${user.getEmail()}" /></td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <span class="badge badge-pill badge-success">Enabled</span>
                <span class="badge badge-pill badge-danger">Disabled</span>
                <form class="form-inline">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                        <label class="form-check-label" for="inlineRadio1">Enable</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                        <label class="form-check-label" for="inlineRadio2">Disable</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Set</button>
                </form>
            </div>
        </div>
    </div>
</div>





<!--<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>-->

<!--<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete"/>-->
<!--</form>-->
</body>
</html>