<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:insert="~{common :: headlink}"/>
</head>
<body>
<div th:insert="~{common :: header}"/>
<div th:switch="${user_role}">
    <div th:case="'ROLE_ADMIN'" th:insert="~{common :: admin_nav}"/>
    <div th:case="'ROLE_USER'" th:insert="~{common :: cabinet_nav}"/>
    <div th:case="*" th:insert="~{common :: main_nav}"/>
</div>
<form th:method="POST" modelAttribute="dataform" th:action="@{/acc/plan/assign}" >
    <div class="form-group">
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th></th>
                    <th th:text="#{list.items.plans.name}">Plan</th>
                    <th th:text="#{list.items.plans.price}">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plan: ${plans}">
                    <td>
                        <div class="radio">
                            <input th:checked="${plid == plan.id}" type="radio" name="plan" th:value="${plan.id}">
                        </div>
                    </td>
                    <td><p th:text="${plan.name}" /></td>
                    <td><p th:text="${plan.price}" /></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <input type="hidden" id="uid" name="uid" th:value="${uid}">
        <input type="hidden" id="aid" name="aid" th:value="${aid}">
        <input type="hidden" id="pid" name="pid" th:value="${pid}">
        <button th:text="#{item.plan.assign}" type="submit" class="btn btn-primary" name="btnValue" value="assign">Assign</button>
        <button th:text="#{item.plan.cancel}" type="submit" class="btn btn-primary" name="btnValue" value="cancel">Cancel</button>
    </div>
</form>
</body>
</html>