<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:insert="~{common :: headlink}"/>
</head>
<body>

<div th:insert="~{common :: header}"/>
<div th:switch="${user_role}">
    <div th:case="'ROLE_ADMIN'" th:insert="~{common :: admin_nav}"/>
    <div th:case="'ROLE_USER'" th:insert="~{common :: cabinet_nav}"/>
    <div th:case="*" th:insert="~{common :: main_nav}"/>
</div>

<div class="container" style="width: 50%">
    <form th:method="PATCH" th:action="@{/items/plans/{id}(id=${plan.id})}" th:object="${plan}">
        <div class="form-group">
            <label for="name" th:text="#{edit.item.plan.name}">Enter name: </label>
            <input type="text" class="form-control" th:field="*{name}" id="name" />
            <th:block th:if="${#fields.hasErrors('name')}" th:each="err: ${#fields.errors('name')}">
                <div style="color: red" th:utext="#{${err}}">Name error</div>
            </th:block>
        </div>
        <div class="form-group">
            <label for="name" th:text="#{edit.item.plan.price}">Enter price: </label>
            <input type="number" min="0.01" step="0.01" class="form-control" th:field="*{price}" id="price" />
            <th:block th:if="${#fields.hasErrors('price')}" th:each="err: ${#fields.errors('price')}">
                <div style="color: red" th:utext="#{${err}}">Price error</div>
            </th:block>
        </div>
        <div class="form-group">
            <label for="name" th:text="#{edit.item.plan.product}">Select product: </label>
            <select class="form-control" id="parts" name="parts" th:field="*{product}" >
                <option th:each="item : ${products}"
                        th:value="${item.id}"
                        th:text="${item.name}">Part name</option>
            </select>
            <th:block th:if="${#fields.hasErrors('product')}" th:each="err: ${#fields.errors('product')}">
                <div style="color: red" th:utext="#{${err}}">Product error</div>
            </th:block>
        </div>
        <button type="submit" class="btn btn-primary" value="signIn" th:text="#{edit.item.plan.edit}">Edit</button>
    </form>
</div>
</body>
</html>