<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:insert="~{common :: headlink}"/>
</head>
<body>
<div th:insert="~{common :: header}"/>
<div th:insert="~{common :: admin_nav}"/>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{list.users.name}">Name</th>
        <th scope="col"/>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service, custStat: ${services}">
        <th scope="row" th:text="${custStat.count}">1</th>
        <td><p th:text="${service.getName()}" /></td>
        <td align="right">
            <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" th:text="#{list.products.services.actions}" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" th:href="@{/products/services/{id}/edit(id=${service.getId()})}" th:text="#{list.products.services.actions.edit}">Edit</a>
                <form th:method="DELETE" th:action="@{/products/services/{id}(id=${service.getId()})}">
                    <input class="dropdown-item" type="submit" th:value="#{list.products.services.actions.delete}"/>
                </form>
            </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>